%button {
  margin: 22px auto;
  width: 30%;
  padding: 10px;
  float: right;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  color: white;
  border: 5px solid $color-main;
  border-radius: 10px;
  background-color: $color-main;
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 20px $color-main, 0 0 15px $color-main, 0 0 10px $color-main;
    outline: none;
    transition: box-shadow 0.3s linear;
  }
}
