.play-game {
  
  &__header {
    
    &-description {
      text-align: center;
    }
  }

  &__main {
    display: flex;
    flex-flow: wrap;
    align-items: center;

    &-section {
      width: 50%;

      &-table {
        border-collapse: collapse;

        td {
          height: 25px;
          width: 25px;
          border: 1px solid black;
          border-collapse: collapse;
        }
      }
    }

    &-score {
      width: 50%;
    }

    &-new-game {
      width: 100%;
      margin: 10px;

      &-button {
        display: flex;
        justify-content: right;
        @extend %button;
      }
    }
  }
}